astroid==1.6.4
attrs==18.1.0
backoff==1.3.2
certifi==2018.4.16
chardet==3.0.4
idna==2.6
isort==4.3.4
jsonschema==2.6.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==2.0.0
ordereddict==1.1
pbr==4.0.3
psutil==5.3.1
pylint==1.9.1
python-dateutil==2.7.3
requests==2.18.4
simplejson==3.11.1
singer-python==5.0.15
six==1.11.0
target-stitch==1.7.3
urllib3==1.22
-e git+https://github.com/yalelikeyale/woo-tap.git@9e46ad9e96068576b7495b34a5bc5ada97344675#egg=woo_tap
wrapt==1.10.11
